[2022-03-03 12:49] shubhodeep9 opened #3 "Standardising API to support more languages apart from Go"
Curious to know whether limiting API to Go was a choice.
If not, it will be great if it supports a common standardisation, i.e Mongo has BSON, so that it becomes easy to write drivers in other languages as well.

[2022-03-03 14:04] ostafen commented on #3
The library is meant to be used in embedded Go projects. There is no remote server. So API directly acts on local db.

[2022-03-08 09:18] #3 closed

[2022-03-12 15:41] xxxserxxx opened #5 "FindById() not working as expected"
I may be doing something wrong; if so, please point it out. However, after closing and re-opening a database, `FindById()` does not find any documents.

[code]

What I do here is:
1. Tutorial code from README
2. Close the DB
3. Re-open it
4. Try to find the document previously inserted with `FindById()`
5. Find the document with `FindAll()`, and get the ID from it
6. Try to find the document using

[2022-03-13 11:26] ostafen commented on #5
Hi, thank you for signaling this problem. As you correctly pointed out, the index was never reloaded from disk.
My last commit should fix the problem.

Let me know if it works!

[2022-03-13 13:36] xxxserxxx commented on #5
Looks good; thanks for the quick fix!

[2022-03-13 13:43] #5 closed

[2022-03-15 13:46] xxxserxxx opened #6 "Inserts do not set up index correctly"
This issue was in the pre-badger code (<= dc5b9e3503ecba809eff2436d1ee69a4b171f36b). I'm putting it here for anyone else who wants to continue using the old storage.  Note that if you're doing this, you should also cherry-pick the other indexing bug fix, e736362eb15e75437a1404458148678902a022d4.

The behavior is that `Insert()` of documents after the first would result in an incorrect index; attem

[2022-03-15 13:46] #6 closed

[2022-03-15 13:59] ostafen commented on #6
Thank you for pointing this out :+1:

[2022-04-07 13:01] ostafen opened #9 "Implement an in-memory storage engine"
The persistence layer of CloverDB is abstracted by the StorageEngine interface. The default implementation persists data on disk only and makes use of the badger kv-store.
It would be useful to also add an alternative StorageEngine implementation running completely in-memory, arranging documents in a map.

[2022-04-09 14:42] gamedolphin opened #11 "Update by Id"
Couldn't find a documented way of doing so.

[2022-04-09 14:43] gamedolphin opened #12 "Skip/Limit criteria"
Would be useful to have a skip and limit criteria for number of documents returned by FindAll.

[2022-04-09 15:05] ostafen commented on #12
Thank you for this suggestion. I think that I will add a Limit() method on the Query object :-)

[2022-04-09 15:07] ostafen commented on #11
You are right. There is no method for this. I will add it. Thank you

[2022-04-09 19:01] ostafen commented on #11
I correct myself. In section "Update and Delete documents" it is shown howto update documents matching a predefined criteria.

So you could simply achieve this by the following code:

[code]

where updates is your update map, and docId is the id of your document.
Probably, it's better to put this example in the README to give evidence that each document has an "_id" field

[2022-04-10 16:29] gamedolphin commented on #11
Thank you for the clarification. Cheer!

[2022-04-10 16:29] #11 closed

[2022-04-10 17:36] jsgm opened #13 "Implement sorting"
Hello,

It would be a good idea to have the possibility of sorting the different FindAll() results.

In order to don't make the code complex, here are a few simple ideas for sorting results numerically and alphabetically that would be useful to implement:
db.Query("todos").Where(c.Field("completed").Eq(true).And(c.Field("userId").In(5, 8))).FindAll().SortAsc("userId") _and SortDesc_
db.Query("todo

[2022-04-10 18:25] ASWLaunchs opened #15 "Plan about awesome warehouse"
It is recommended to create a new warehouse called **awesome-clover** or **awesome-cloverdb**.

CloverDB will have more people in the future, but the only program-self is not enough, although this database is a very small and complete library, but also needs ecology.Just like SQLITE and MongoDB, they have GUI , practice projects , driver and so on.
At present, I have developed a novel coronavirus

[2022-04-10 18:33] ostafen commented on #15
Hi, ASWLaunchs. This sounds a good idea. What project are are you thinking about to start?

[2022-04-10 18:38] ASWLaunchs commented on #15
I will submit a small project for epidemic code collection in my repository and then edit the document setting link in your awesome readme. Md. After that, I plan to develop a GUI for cloverDB so that other developers can see the database data visually, just like SQLite also has third-party guis and VSCODE Plugin preview.

[2022-04-10 18:40] ostafen commented on #15
Okay, thank you. When you start some project, let me know, I will contribute, and gradually, we will enlarge the clover ecosystem :)

[2022-04-10 18:42] ASWLaunchs commented on #15
driver like [go-sqlite3](https://github.com/mattn/go-sqlite3) , if other program language calls the CloverDB ,then need a driver.

[2022-04-10 18:42] ASWLaunchs commented on #15
okay , no problem.

[2022-04-10 18:51] ostafen commented on #15
@ASWLaunchs Is your coronavirus health code collector an opensource project or a private one?

[2022-04-10 18:53] ASWLaunchs commented on #15
opensource project

[2022-04-10 18:54] ASWLaunchs commented on #15
Every project I submit is open source and avoids the commercial risk of other developers using it.

[2022-04-10 18:55] ostafen commented on #15
Can you link the repo here? I want to give a look at it, and maybe I can also contribute :=)

[2022-04-10 18:58] ASWLaunchs commented on #15
okay ,CloverDB is used to store data，80% of the development is now complete . It will be updated before 13th of this month. I haven't uploaded it yet .

[2022-04-11 09:03] ostafen commented on #12
@gamedolphin, the last commit (5a5de339f0b68ef6d76c604f0e1f25e00db47b5f) adds a Limit(n int) method which allows to limit the output of FindAll() and Count().

You can give a look at the TestLimit function to see an example of usage. Before closing the issue, I wait for your feedback.

[2022-04-11 20:04] jsgm commented on #12
What do you think about directly returning the document instead an array if Limit(n int) is 1?

[2022-04-11 20:14] ostafen commented on #12
To achieve this, the FindAll() function should return an (interface{}, error). This means you should make additional check and conversion to get the actual type (slice or Document).
However your idea is interesting and could be achieved by a FindFirst() function, returning a (*Document, error).
We could open a separate issue for this :=)

[2022-04-12 14:16] #12 closed

[2022-04-13 16:57] ostafen commented on #13
@jsgm: check 07c2f731a6e869f5fdec1bd5467b18054c58dcc8
Let me know what you think about the APIs (you can use function TestSort as a reference)

[2022-04-13 17:10] ASWLaunchs commented on #15
it's ok, https://github.com/ASWLaunchs/healthSentinel
Temporarily completed, but not ideal, some basic functions are not written, but it can solve the problem of uploading pictures and numbering, it has been serviced for my community， mainly used to collect China's epidemic health code picture. Data is stored and read based on CloverDB.
I have been a little busy in the last 10 days. After 24th, I

[2022-04-13 17:14] ASWLaunchs commented on #15
I always pay attention to the cloverDB API change, and I will invite CloverDB contributors to participate in the development of cloverDB  administration tool. I will invite everyone, if everyone is willing.

[2022-04-13 17:38] ostafen commented on #15
Thank you, your contribution is welcome :)
I will also check your project, and try to contribute :)

[2022-04-13 17:45] jsgm opened #16 "JSON export/import function"
Taking account that Clover is looking forward to implement different types of storage engines and is mainly used for small and embedded databases, adding the possibility to easily export and import your data to JSON independently of the engine used, would be really helpful for working with test data, backing up, etc.

However, there are a few problems:
- How to handle the conversion specially for

[2022-04-13 19:29] ostafen commented on #16
Hi, jsgm, first of all thank you for the nice suggestion.

Regarding this point, I think that conversion should be performed in a cleaver way than simply calling json.Marshal on a document slice. I think that, in order to serialize large collections efficiently, documents should be progressively serialized and written to the exported file.

I think that it is fine to start by implementing a db.Exp

[2022-04-14 13:04] ostafen opened #19 "Implement regex expression matching"
It would be nice to implement a "Like(regex string) " criteria for regex expression matching

[2022-04-14 18:44] ASWLaunchs commented on #19
This is a good way, I am watching the CloverDB source code, trying to understand the logic behind it, if I can read the logic of CloverDB, I think I should contribute, do you have any reading of the source code to share it?

[2022-04-14 20:21] ostafen commented on #19
Hi, ASWLaunchs. Unfortunately, there is no reading of the source code, currently.
However, the code base is very small, and you only have to understand the relationship between Query and Criteria objects.
No need to understand details of the StorageEngine.
In the context of this issue, what you should do is to simply add a `Like()` function to the **field** struct returning a new Criteria with the

[2022-04-14 20:22] ASWLaunchs commented on #19
Ok, I'll try to do that

[2022-04-14 20:27] ostafen commented on #19
Briefly, the Where functions takes a Criteria objects to do filtration on documents. A Criteria is simply a wrapper for a predicate function over a document. This is a function which takes a document and returns true whether the document matches the Criteria.
In this case, the predicate function to be implemented should return true only if the document contains the given field and it also matches

[2022-04-14 20:32] ASWLaunchs commented on #19
I learned, I will try to make a regex match refer to FindAll() , if there is a progress, I will inform you.

[2022-04-14 21:31] #13 closed

[2022-04-15 13:18] ostafen opened #20 "Improve existing documentation"
Several additions and functions have been added for the v1.1.0 release. It is important to improve the structure of existing documentation, also adding missing sections.

[2022-04-15 15:14] ostafen commented on #20
Last commit (3dbb312075d40e986d8c0319cbe337614a112258) added a more curated documentation in the README.
I will leave this issue open for a while, in order to collect further suggestions.

[2022-04-15 15:26] jsgm commented on #20
Now the documentation feels much better. I'll wait until the v1.1.0 is released for translating so we can change as many things we need.

For future versions greater than v1.1.0, once the library is more stable we could create a gitbook -or any other similar tool-, or simply a website and export the documentation there from the git repository.

Also just a minor detail, I use the dark version of G

[2022-04-15 15:30] ostafen commented on #20
Do you refer to the "clover" black part of the logo title?

[2022-04-15 16:11] jsgm commented on #20
Found a way to fix it. Please check the PR: https://github.com/ostafen/clover/pull/21

[2022-04-16 08:45] ostafen commented on #16
@jsgm Just to plan my activities, are you going to work on this? If you are busy, I'll put this on my todo list :=)

[2022-04-16 08:54] ostafen opened #23 "Add Exists method to Query"
Sometimes we want to simply check that the result set of a query is not empty, thus it will be handy to add an Exists() method to the Query struct.
The can be implemented by simply check whether the document returned by `FindAny()` is not equal to nil.

[2022-04-16 14:59] segfault99 commented on #9
Hi, i was considering to implement this but then i remembered that badger also has an in-memory mode. Is there a particular reason not to use it ?

[2022-04-16 15:35] #23 closed

[2022-04-16 15:51] ostafen commented on #9
Hi, @segfault99, first of all thank you for the interest, your question is more than legitimate :=) I should have clarified this point in the issue description.

As you claim, it is true that badger has an in memory store, however this would make the library tightly coupled with badger.
If in the future, we may need to switch to an alternative kv store for some reason, then you would also lose the

[2022-04-16 16:19] segfault99 commented on #9
Thanks for clarifying. Yes i agree, the reason i have guessed was that too. I can work on this one.

[2022-04-16 16:24] ostafen commented on #9
Good :=) I assigned this to you. For any doubt, feel free to contact me

[2022-04-16 16:54] jsgm commented on #16
Sorry for the delay! A bit busy this week, feel free to put it in your todo list. In any case still looking forward to further contributions 😃

[2022-04-16 17:48] ostafen commented on #16
There is no rush, if you are interested in this ;=)

[2022-04-17 09:12] #19 closed

[2022-04-17 13:41] gurugeek opened #25 "cannot install using go 1.18.1"
It seems that the package id not running perhaps for a breaking change on the UUID package

[code]

[2022-04-17 13:59] ostafen commented on #25
Hi, I have Go 1.18.0 and all is working fine.
I'll try to update to 1.18.1 to reproduce the issue

[2022-04-17 16:50] gurugeek commented on #25
@ostafen thanks for your prompt reply. I didn't have a different version of UUID. I just removed and it and it installed again satori/go.uuid

[2022-04-17 16:57] ostafen commented on #25
Is the version you are getting installed v1.2.0?

[2022-04-17 18:03] ASWLaunchs commented on #25
I am use

I am using go 1.18.0 which is perfectly supported. 1.18.1 has not been tested yet
![image](https://user-images.githubusercontent.com/47150186/163726757-53725d8c-2b2f-45c7-8eb8-391632afd006.png)

[2022-04-17 18:20] gurugeek commented on #25
yes it is the default one required in your .mod package. I also tried to delete it and run again the go get  go get github.com/ostafen/clover but I get the same error.

I am using Mac OS X I can try to downgrade to go 1.18.0 but it seems that by default the go.dev sites only proposes the 1.18.1

[2022-04-17 18:26] ostafen commented on #25
The thing which looks quite strange to me is that, according to the error, it seems that the API returns 2 values, instead of one. This could only be due to a different version of the uuid package being installed.
I will lwt you know as soon as I try the 1.18.1

[2022-04-17 18:27] gurugeek commented on #25
@ostafen  thanks a lot much appreciated. I will also try to downgrade to see if the error persists.

[2022-04-17 18:30] gurugeek commented on #25
@ostafen no luck with go 1.18
[code]

[2022-04-17 18:37] ostafen commented on #25
Can you check inside the pkg folder to check which version of uuid is actually installed?

[2022-04-17 18:54] ostafen commented on #25
try to delete the module and execute this:

GO111MODULE=on go get github.com/satori/go.uuid@063359185d32c6b045fa171ad7033ea545864fa1

[2022-04-17 19:36] gurugeek commented on #25
go list -m all | grep github.com/satori/go.uuid

github.com/satori/go.uuid v1.2.0

[2022-04-17 19:42] gurugeek commented on #25
gurugeek@Davids-iMac clover % GO111MODULE=on go get github.com/satori/go.uuid@063359185d32c6b045fa171ad7033ea545864fa1
go: downloading github.com/satori/go.uuid v1.1.1-0.20180103003558-063359185d32
go: downgraded github.com/satori/go.uuid v1.2.0 => v1.1.1-0.20180103003558-063359185d32

but back to my directory when I try the example I now get this error

[code]
my main.go is
[code]

[2022-04-18 08:56] ostafen commented on #25
So did you fixed?

[2022-04-18 10:00] gurugeek commented on #25
Just to clarify I am installing clover as per readme with the go get command and not with go install.

So I removed it, ncluding the UUID package, and I get:
[code]
inside db.go on line 49 I have a different code:

[code]

perhaps go get fetches a different version ?

[2022-04-18 10:04] ostafen commented on #25
That snippet is inside clover. It is fine. You have to check the definition of the `uuid.NewV4()` function inside the code of your uuid package being fetched by go get.
If you use VSCode or Goland, you should be able to jump to the definition of the function by typing Ctrl+Click on the `NewV4()` function.

[2022-04-18 11:31] gurugeek commented on #25
this is the code inside uuid.go as fetched by go get once I fetch clover:
[code]

[2022-04-18 11:37] ostafen commented on #25
This file doesn't contain the definition of the NewV4() function. It should be contained in the generator.go file

[2022-04-18 11:38] gurugeek commented on #25
here it is

[code]

[2022-04-18 11:45] ostafen commented on #25
Ok, this is the proof you are getting a different version of the library (if you look at the one I posted, there is a mismatch in the number of returned values).
As a quick fix, you could modify the clover db.go file to get rid of the additional error parameter being returned by NewV4.
However, we need to understand what is going on, and why

[2022-04-18 12:09] gurugeek commented on #25
@ostafen thanks a lot for your quick comments. Just to clarify the version fetched by go get is exactly the version available in github
https://github.com/satori/go.uuid/blob/master/generator.go
line 67 to 70 are the same.

The go mod for clover specifies 1.2.0 as a version so I think go get does fetch what is asked.
if you need a special version commit for clover to function why not fork this UUI

[2022-04-18 12:31] ostafen commented on #25
The problem here is not that clover depends on a specific commit, because as you can see, the version specified is v1. 2.0 (in fact several user using clover didn't have this problem).

If the version you get is the same which in github is tagged as v1.2.0, we have to understand why other user (me included) get an older version instead of the correct one.
Once understood this, if necessary I could

[2022-04-18 12:46] ostafen commented on #25
In understood what it's going on.
You are probably looking the master branch of the repository. If you select the v1.2.0 tag, you will see that the source code is the same of the one I'm getting.
The problem is related to the fact that you didn't have go modules enables.
Without GOMODULES enables, by default go get fetches the last commit, thus ignoring the go.mod file.

Try to:
- clean your modul

[2022-04-18 12:50] gurugeek commented on #25
Thank you @ostafen but I don't wish to use GOMODULES as I have a lot of legacy code working fine with go get. If this is a pre-requisite to use Clover, I suggest you change the readme because go get will  definitely not work.

As a side note/suggestion as this package appears to be a crucial dependency in clover and there is a mismatch between main and the version you want to use, it might be wort

[2022-04-18 13:04] ostafen commented on #25
Wait, it's not correct to say tha clover doesn't work with go get.
You only have to know that, if you use go modules, go get will fetch the exact version by looking at the go.mod file of the package automatically.
Otherwise, you have to manually specify the correct version yourself.
So this problem is not caused by clover, but by the default behavior of the go get command (when used without go.mod

[2022-04-18 15:42] #9 closed

[2022-04-18 15:51] ostafen opened #27 "Add code examples"
Hi, all! In order to help new users getting started with clover quickly, it would be good to add an examples folder containing
several basic code samples showing the main feature of the library

[2022-04-18 16:01] gurugeek commented on #25
@ostafen sorry I didn't meant to criticize your work, just trying to give the prospective of someone trying to install using the command on the readme. Unfortunately the last options doesn't work
[code]
strange!

[2022-04-18 16:48] jsgm commented on #16
Thanks for your patient. If there's no rush I can definitely go with this. Starting today!

[2022-04-18 17:21] jsgm commented on #27
Hello @ostafen,

In my opinion, a good way to organise the examples would be as following:
- **examples**
  - **collections:** Basic examples of creating and deleting collections.
  - **insert:** Working with different types of inserts using both _NewDocument_ and _NewDocumentOf_.
  - **sort:** A few examples for sorting, integers, UNIX dates, etc.
  - **update & delete:** Handling different types

[2022-04-18 17:45] jsgm opened #29 "Add a db.GetCollections() method"
Hello all.

In some cases, specially for old projects it would be interesting to add a `GetCollections()` method that returns a slice of strings with the different existing collections names.

[2022-04-18 18:33] ostafen commented on #25
Sorry, I made a mistake in writing the environment variable. The command should be:

[code]

[2022-04-18 18:58] ostafen commented on #27
I agree with your suggestion!

[2022-04-18 19:00] ostafen commented on #29
Hi, this is something I was planning. You anticipated me :=)

[2022-04-18 19:05] jsgm commented on #29
`ListCollections()` looks fine for me 😄

[2022-04-18 19:09] ostafen commented on #29
Since, this is very simple to implement, I will leave the issue open for a while before implementing, to allow new contributors to join

[2022-04-18 19:33] gurugeek commented on #25
@ostafen thanks again for your support. Allright that works in principle but:

[code]
so I had to create a mod.go file and then this code:
[code]
eventually works

[code]

I am sure it is certainly my fault for not being used to the go mod system (in previous versions it didn't exist) but perhaps an example folder with a sample mod file and runnable script will be of help to go newbies :)  Thanks

[2022-04-18 19:33] #25 closed

[2022-04-18 19:38] ostafen commented on #25
Well! Code samples are planned.
Also, I will update the README with more detailed instructions about go get

[2022-04-18 23:05] DaniloMarques1 commented on #29
Hello.

I would like to work on it

[2022-04-19 08:51] gurugeek commented on #25
thank you @ostafen much appreciated!

[2022-04-20 10:28] #29 closed

[2022-04-22 11:05] dbgjerez opened #34 "SaveOrUpdate"
https://github.com/ostafen/clover/blob/530c209b547f9df30a159d385a6ec4db7fc7190b/db.go#L63

Hi,

I'm not sure if this is an issue or discussion. I'm very happy with this database and I like to help it if I can.

Some databases have a function to update or save a new document. In this case, the database is always creating a new document.

I think that if the document ID is provided by the user, it i

[2022-04-22 11:08] ostafen commented on #34
Hi, @dbgjerez, thank you for your suggestion. I agree with this feature, and your contribution would be welcome.
I think it is better to call the new function `Save()` instead of `SaveOrUpdate()`.

[2022-04-22 18:00] dbgjerez commented on #34
Hi, ok I will call it Save().
I have just joined the gitter channel ;)
Thanks!

[2022-04-23 07:45] EdwinWalela commented on #27
Hello @ostafen, I would like to take this up. I'm planning on using the structure @jsgm has proposed of having each in its own folder, ready to copy & paste.

[2022-04-23 08:14] ostafen commented on #27
Hi, @EdwinWalela, first of all thanks for your interest. Yes, you can use the structure proposed by jsgm :=)
I assigned this to you

[2022-04-24 05:48] thiko opened #35 "Empty database uses more than 2 GB of disk space"
Hi all

First of all: thanks for your work - it's tackling my need and works pretty well  :)
One quick question: Is it intended for a nearly empty database to use > 2 GB disk space?

Example (see 000006.vlog):
[code]

Thanks in advance!

[2022-04-24 08:20] ostafen commented on #35
Hi, @thiko. If you ended with an empty database after inserting several items, and then you deleted all of them, yes it can be normal. Internally clover uses badger, which is a log structured key value store. This means that when you delete an object, a "delete" record is appended to the value log.
Log should be compacted in the background, once the database reaches a suitable size

[2022-04-24 08:58] thiko commented on #35
Hi @ostafen!
Thanks for your response!

On my local setup, badger seems to reserve 2 GB on disk space immediately before even apply any operation to it (beside open the connection).

Anyway - I'm looking forward for your fix using the GC call  :+1:

[2022-04-24 09:02] ostafen commented on #35
So you get a 2GB file even just after calling `Open()` on an empty directory?
Can you post a snipped of code showing your usage? It will help me to have the whole picture :=)

[2022-04-24 09:12] thiko commented on #35
Sure - it's a small playground project so far. Please find the related code parts below:

[code]

[code]

That's it ;)
Using go versio 1.18
mod.go contains `github.com/ostafen/clover v1.0.1`
Operating system is  Ubuntu 18.04.6 LTS

When running `go run .` it creates a new directory containing:

[code]

[2022-04-24 09:25] ostafen commented on #35
Are you calling `db.Close()` inside `db.CloseConnection()`?

[2022-04-24 09:27] thiko commented on #35
Sorry, missed that part. I'll modify my original post to keep it together

[2022-04-24 09:34] ostafen commented on #35
Okay, however by doing some quick tests it turns out that the problem is related to not calling `db.Close()`.
Consider this snippet:
[code]
It produces this database:
[code]
But, if i correctly call `db.Close()`:
[code]

what I get is the following:

[code]

[2022-04-24 09:42] ostafen commented on #35
@thiko, I run exactly the snipped you posted. It should be fine. I'm getting the correct size since `db.Close()` is called.

[code]

[2022-04-24 09:43] thiko commented on #35
@ostafen  you are right - the issue relates to a missing `db.close()``call. I wasn't aware about the fact, that `defer` is not called when killing the app using os signals (`CTRL + C` in fact).
I'll handle the signal for a graceful shutdown.

My bad - sorry. Shall we close this issue?

[2022-04-24 09:46] ostafen commented on #35
@thiko, okay thank you :=)
Let's leave the issue open. Your problem of the initial 2GB size was due to `db.Close()` not being called.
However, the problem related to the `RunValueLogGC()` is a separate problem and needs a fix.
I'll work on it and release a fix by tomorrow :=)

[2022-04-24 09:47] thiko commented on #35
Great - thanks for your help!

[2022-04-24 12:03] jsgm commented on #35
Hello @thiko @ostafen,

Thanks for checking this. I was facing this issue and I can also confirm that the problem was related to not using ```db.Close```. Now the database is just around 1 MB

[2022-04-24 17:06] ostafen commented on #35
I made the title of the issue more self-explainatory in order to help people facing the same issue to quickly locate this

[2022-04-26 09:28] ostafen commented on #35
With the last commit, I implemented a simple garbage collection strategy which basically calls `RunValueLog()` periodically in the background every 5 minutes.
In the future, I will improve the GC strategy to run only during inactivity periods, but for now its does its job :=)

[2022-04-26 09:28] #35 closed

[2022-04-26 22:06] #34 closed

[2022-04-26 22:39] ostafen commented on #15
@ASWLaunchs, any update about the GUI project?
I'm looking forward to see it :=)

[2022-04-27 09:24] #16 closed

[2022-04-28 08:36] #27 closed

[2022-04-30 07:42] #20 closed

[2022-05-01 22:16] Vahanerevan opened #43 "Error while marshalling json in white insert item"
Issue happens when json marshalling document items cause error, in that case the doc id is nil and next line
doc.Get(objectIdField).(string) cause error .

`
func (db *DB) InsertOne(collectionName string, doc *Document) (string, error) {
	err := db.Insert(collectionName, doc)
	//cause error then the object Id is nil
	return doc.Get(objectIdField).(string), err
}
`
//P
`
func (db *DB) InsertOne(col

[2022-05-01 22:24] ostafen commented on #43
Hi, @Vahanerevan, thank you for reporting this issue. Do you want to open a PR?

[2022-05-02 01:43] Vahanerevan commented on #43
Sure
I did not go deep in code so
There are 2 ways to fix this issue

1.
Idk if there can be case: where id will not be _**string**_ . Should we return error   ?
[code]

2.
[code]

Just let me know which one  will fit here . I will open PR.

Thank you.

[2022-05-02 08:09] ostafen commented on #43
I think the cleanest way is to use the `ObjectId()` method of the document struct:

[code]

[2022-05-02 15:45] ostafen opened #44 "Add a Contains criteria"
Hi, all! It could be useful to implement a `Contains(elems ...interface{})` to check if a slice field contains one or more elements.
For example, assume to run the following query

[code]

on a `myCollection" collection which consists of the following three documents:

[code]

The query would return only the first and the third document.

[2022-05-02 19:23] kastolars commented on #44
Hi! I'd like to give this a shot. Just for clarification, what field types (elems) should this function support? I see `int` in the example and `interface` in the signature.

[2022-05-02 19:30] ostafen commented on #44
The signature of every criteria usually contains interface{}, so that any type can be supported.
Give a look, for example, at the **Eq** criteria.
You can use reflect.DeepEqual() to perform comparison of interface{}

[2022-05-03 02:43] kastolars commented on #44
Okay cool. Should  the function go in `criteria.go` , and the unit test in `db_test.go` ?

[2022-05-03 02:58] kastolars commented on #44
In the `Contains` function, can I assume the `docValue` in `docValue := doc.Get(f.name)` (similar to the `In` function) is of type slice, or maybe should it panic in the instance where it isn't a slice? Or maybe fall back to using the `In` function? What do you think?

[2022-05-03 06:59] ostafen commented on #44
You should use a type assertion to first check if it is a slice. In the case the field is not a slice, the criteria in not satisfied and you can return false.

[2022-05-04 07:31] ostafen commented on #43
@Vahanerevan, any update on this?

[2022-05-04 20:40] ostafen opened #46 "Gob encoding and internal data types"
### Discussed in https://github.com/ostafen/clover/discussions/41

<div type='discussions-op-text'>

<sup>Originally posted by **ostafen** May  1, 2022</sup>
Hi, everyone, I created this discussion to collect opinions and suggestions, since this is a very sensitive topic.
Currently, **CloverDB** serializes documents to json before storing them on disk. This has been done because of the fact that,

[2022-05-04 21:16] ostafen commented on #15
I think this should go to Discussion section, so I'll close this

[2022-05-04 21:16] #15 closed

[2022-05-04 21:18] ASWLaunchs commented on #15
no problem , let's meet in the discussion.

[2022-05-07 10:00] ostafen opened #49 "Add support for criteria involving operations between fields"
Currently, clover db only supports building criteria where you compare a field with a value, like the one in the following example:

[code]

Naturally, there are several contexts where one may need to express condition where you compare fields of the same document. For example you may want to select documents satisfying a condition such as `myField1 > myField2`.

This could be integrated inside cl

[2022-05-07 15:29] #44 closed

[2022-05-07 20:19] segfault99 commented on #49
Nice idea.
I think this syntax explains the intent better and also makes it easier to implement. (no need to check for special character)
[code]

[2022-05-07 21:03] ostafen commented on #49
Yes, it is the best alternative :)

[2022-05-09 11:33] ostafen opened #51 "Implement slice indexing when accessing a field"
Hi, all. Currently, clover allows to access nested field in a document, by the following syntax:

[code]

Now, suppose that field2 is a slice. It would be useful to support indexing elements by the following syntax:

[code]

[2022-05-09 20:17] #46 closed

[2022-05-10 18:37] #49 closed

[2022-05-16 09:52] yingyi666 opened #56 "About the size of database occupancy"
Database initialization takes up a large amount of space. For example, after I save more than 400 databases, it takes up 2GB.
I don't know if this is a normal phenomenon.
![image](https://user-images.githubusercontent.com/41784264/168567023-f7b6fa0e-c9e4-4620-920a-2d7a0cde37ff.png)

[2022-05-16 10:32] yingyi666 commented on #56
ok, i konw

[2022-05-16 10:32] #56 closed

[2022-05-21 15:53] yingyi666 commented on #51
hi, bro.
 i think you can release current version ,because the latest version not match the README

[2022-05-21 17:04] ostafen commented on #51
v1.2.0 has been released :=)

[2022-05-23 15:19] Giancarlo1974 opened #57 "Yaml support"
I have read that CloverDB stores data records as JSON documents

You could replace the JSON format with YAML, because it's more streamlined:

In many cases, it takes up less disk space

[2022-05-23 15:23] ostafen commented on #57
With the last release, the v1.2.0, documents are stored internally using the gob encoding because this allow to also keep types information.

[2022-05-23 15:26] yingyi666 opened #58 "about the function count( )"
bro, the fun `count( )` , when there is a lot of data, it takes a long time to return.
and i see the source code ,it is implemented by `findall( )` and `len( )`the return
it takes a lot time when the data is big
such as ,now i have about 40,000 pieces of data. it takes more than a second...
maybe we should change the `fun` implementation

[code]

it print this

[code]

[2022-05-23 15:29] ostafen commented on #58
Yes, I was aware about this, and this should be definitely optimized. Do you want to provide a PR?
The `Count()` function should be added to the StorageEngine interface{} and be implemented for the two storages currently available

[2022-05-23 15:34] ostafen commented on #58
Badger caches data internally

[2022-05-23 15:43] yingyi666 commented on #58
For some reason, my skip function doesn't seem to work. The code is as follows
[code]

[2022-05-23 15:48] ostafen commented on #58
What do you mean by "doesn't seem to work"? What is your expected output and what are you getting?

[2022-05-23 15:53] yingyi666 commented on #58
I expected to skip a few doc, but it didn't.
And then the findall function returns random disorder?

[2022-05-23 15:55] yingyi666 commented on #58
I see my problem. I didn't sort.

[2022-05-23 15:59] yingyi666 commented on #58
But when I sort it, its query speed slows down again.

[2022-05-23 16:08] yingyi666 commented on #58
Okay, I'll start looking at the source code tomorrow.
It is 50ms before sorting and 1.3s after sorting.😔

[2022-05-23 16:14] ostafen commented on #58
I found what the problem is. I'll release soon a fix for this

[2022-05-23 16:16] yingyi666 commented on #58
thanks ,bro

[2022-05-23 16:20] ostafen commented on #58
Can you post the snipped before and after sorting?

[2022-05-23 16:24] yingyi666 commented on #58
But when I don't sort, skip won't achieve the effect of the next page as I thought.

[2022-05-24 08:09] #58 closed

[2022-05-24 08:31] #57 closed, assigned to nobody

[2022-06-04 16:14] DaniloMarques1 commented on #51
Hello!
I would like to work on it.

Just a quick question:  `doc.Get("field1.field2.2")` assuming field2 is a slice the correct result would be to return the second element of field2?

[2022-06-04 16:15] ostafen commented on #51
Yes, that's right

[2022-06-08 08:36] ElecTwix opened #62 "How could I get Top 10"
Hey, I'm new with NoSQL I'm really excited about it but I couldn't find a way to sort out the just top 10
I could make it with complex functions but I was just wondering is there is an easy way.

Type of Collation in down below, I just want to get a max of 10 playtimes.
is there any query for that?

[code]

[2022-06-08 09:18] #62 closed

[2022-06-11 22:03] trading-peter opened #63 "Cursor for running through big datasets."
Hi,

I'm trying out clover for an easy and portable way of storing stock market price data.
And it works good enough for my usecase in general. The only thing I was wondering is if there is support for cursors?
Right now I'm doing a FindAll() which takes pretty long and obv. causes the whole chunk of data to be stored in memory.

It would be awesome if something like this was possible
[code]

[2022-06-11 22:19] ostafen commented on #63
Hi, @trading-peter. You can use the **ForEach() ** method for this purpose, which calls a supplied function for each document

[2022-06-11 22:51] trading-peter commented on #63
Ooooh so nice! How did I miss that hahaha. Thanks you!

[2022-06-11 22:51] #63 closed

[2022-06-28 07:59] fbilhaut opened #64 "Allow to discover available fields for a document"
Currently one can only access the values of fields using Get(), requiring prior knowledge of available field names.

Given the schema-less nature of Clover this feature would be helpful in many ways.

Two possible options (non exclusive) :
- access to a copy or read-only version of the internal map
- method to list available fields (including sub-documents, ex. ["a", "b", "b.x", "b.y"...], for tha

[2022-06-28 11:33] fbilhaut commented on #64
I'll do (I registered this issue "for the records", according to our discussion via email)

[2022-06-28 11:35] fbilhaut commented on #64
@ostafen BTW what do you think about including the names of fields containing sub-documents "standalong". I mean "b" in the example above is redundant, just wondering...

[2022-07-11 14:08] #64 closed

[2022-07-18 10:13] axllent opened #73 "Most efficient solution for paging query results with a big collection"
Hi there. Firstly thank you for this cool project - it seems quite well-suited for what I am building! I am hitting some performance issues though, so thought I'd explain what I'm doing (to give some context) and where the two bottlenecks are, and hopefully there is a different approach which I have simply overlooked.

So first of all, I'm using CloverDB to store parsed emails. Each document conta

[2022-07-18 11:00] ostafen commented on #73
Hi, @axllent. Initially, clover has been designed for very simple workloads, with a few thousand of documents.
This is why, it currently lacks some optimization which could be performed in specific situations.
This is why, I'm working on a v2 version of the library which add several important additions (index support, for example).

For example, counting all records in a collection is a query whic

[2022-07-18 11:54] axllent commented on #73
@ostafen you understood perfectly what I am trying to do, and the ordering of documents in the reverse order they were stored. That's amazing, I'll definitely wait for the v2 release as it sounds like it will solve the performance issues. Thanks!

[2022-07-18 12:22] ostafen commented on #73
Just to have all the information, do you run the query each time the user switches to a new page, using skip and limit?

[2022-07-18 13:16] ostafen commented on #73
I tried to reproduce your usecase with the following snippet (I'm currently on the **v2** branch).

[code]

What I get is the following output:

[code]

As you can see, count time is now negligible. However, according to what you wrote, sorting on timestamp takes about 5 seconds on your settings, while it takes 0.5 second in my usecase. Am I missing something? Can you also post the output of this

[2022-07-19 01:45] axllent commented on #73
Yes @ostafen, I do run the query each time using skip and limit (and the database is left open while the daemon is running). I have also just tried the v2 branch and can confirm that the `Count()` issue is completely fixed ;-)

After my initial bug report yesterday I did end up separating the raw email data into a separate collection from the "summary collection" which made a significant speedup:

[2022-07-19 11:08] axllent commented on #73
@ostafen This is very interesting - I would not have thought that solution would be more efficient, but (using variations of your example) that is exactly what it is - MUCH faster, specifically at the low "page numbers"!

It does get slower the higher the page number you want (iterations of your solution, which is by the sounds of it just like how `Skip()` works internally anyway), for instance is

[2022-07-19 11:15] ostafen commented on #73
@axllent, yes, it is true that if you jump to a page which is not consecutive with respect to the current one, you have to iterate the intermediate page. This is unavoidable.

However, as soon as you move to the next page (or to the previous, if you run the specular query) remains constant, which is not true with the skip based method (if you want page n, you have to always skip all documents of t

[2022-07-19 13:12] ostafen commented on #73
@axllent, just so you know, I found another bottleneck, which is the gob encoding, which is used internally to store documents.
I tried to switch to msgpack, and tried to run the following query:

[code]

On 100k documents, query time decreased from 2.5 secs to 1.2 secs

[2022-07-20 08:24] axllent commented on #73
There's some fairly large functional changes in v2, but once I made the necessary updates I can (very) happily report that I'm now getting page loads in < 10ms (including the HTTP request / network latency)! Obviously this increases slowly as explained before when dealing with much larger offsets (which aren't an issue in my case, and even at their worst they are already significantly faster than

[2022-07-20 09:05] ostafen commented on #73
@axllent, very happy to know that you solved your issue!

Yes, let's leave this open until the v2 version will be released. In every case, if you experiment other issues which are not related to paging, I suggest you to open new issues

[2022-07-22 11:41] axllent opened #80 "v2: db.Delete() deleting all rather than limited set from query"
Note this is regarding the v2 branch: I am experiencing very slow deletions when dealing with 1000s of documents, so I decided to try delete smaller subsets to benchmark. This is when I noticed that when trying to limit() deletions to any value, all documents appear to be deleted, for example with a collection with 1000 documents:
[code]
all documents get deleted.

[2022-07-22 11:49] ostafen commented on #80
Hi, @axllent. Does this work as expected in the **main** branch?

[2022-07-22 21:27] axllent commented on #80
Hi @ostafen . I have no idea if it was working on the main branch as I hadn't gotten to the deletion part before I switched to the v2 branch and refactored all my code ;-) It's not that easy to switch because I have to change all my queries.

`Limit()` is now working in v2 as expected, thanks!

The original delete query I tried was `db.Delete(clover.NewQuery(mailbox))`, but with about 20k document

[2022-07-23 12:21] ostafen commented on #80
Hi, @axllent, the slowdown with `Delete()` was due to a bug which I fixed with the last pull request. It should be way faster now.

About this, this is due to how the badger storage engine works internally. Since badger is a **log-structured** storage engine, each write operation causes a record to be appended to the logs. Thus, when performing a `Delete()` of a key, you simply append a marker rec

[2022-07-23 21:23] axllent commented on #80
@ostafen  - that's awesome, thank you. I can confirm that with the latest commit it is now deleting 20k documents in approximately 2 seconds now, without the need to delete 1000 at a time in a loop.

Re: reclaiming space - that makes perfect sense. I have noticed a `RunValueLogGC(): Value log GC attempt didn't result in any cleanup` from time to time in the logs, however it only happens from time

[2022-07-24 08:26] #80 closed

[2022-07-28 20:06] ostafen commented on #73
@axllent, just to let you know, performance should have increased significantly with the latest commit :=)

[2022-07-29 04:40] axllent commented on #73
@ostafen That's awesome! I can definitely confirm a speedup (though I am not sure my case/tests are necessarily best-suited because they also involve email parsing and saving to two collections for each "save" and "delete").

I have two different benchmarks: insert plain text emails, and insert MIME emails containing an inline image and an attachment (looping over the default Go test `for i := 0;

[2022-07-29 07:36] ostafen commented on #73
Hi, @axllent. I think I'll release the **v2** by the end of next week. I'll release the **v2** in a beta version, in order to allow the community to try it and discover potential bugs, before releasing a full stable version.

EDIT: I just released the **v2** under the tag **v2.0.0-alpha.1**

[2022-07-29 12:29] axllent commented on #73
@ostafen So did I (beta) in case you're interested what I'm using this for https://github.com/axllent/mailpit :)
I could not work out how to link the module to your alpha tag so I'm using the git commit hash instead.

[2022-07-29 12:34] ostafen commented on #73
Very nice project!
By the way, you should be able to link the library with the command:

[code]

[2022-07-30 08:39] axllent opened #90 "V2: Sort() + Where() doesn't work"
With the first alpha release of v2, I have noticed that combining a `Where()` and a `Sort()` simply returns all results (`Where()` gets ignored?).
[code]
If I skip the `Sort()` then the query works as expected (except the results are not sorted of course). "Created" is indexed in my case, and appears to work as expected with all other queries, just not when `Where()` is involved.

Any ideas?

[2022-07-30 09:05] ostafen commented on #90
Hi, @axllent, thank you for reporting this. I just fixed the problem (it was due to a missing initialization statement) and I tagged the current commit as **v2.0.0-alpha.1**. I think you should update your modules.
Can you check if it works?

[2022-07-30 09:45] axllent commented on #90
Hi @ostafen, thanks, but I cannot for the life of me get Go to recognize that you have re-tagged v2.0.0-alpha.1 with a different commit. I've tried `go get -u`, `go get -u -d github.com/ostafen/clover/v2@v2.0.0-alpha.1` and some other things, and tried that after manually deleting all my cached go modules - nothing seems to recognize that the tag commit has changed, and my `go.mod` remains unchang

[2022-07-30 09:53] ostafen commented on #90
I think it is github which is linking the tag with the old commit yet, since I also have this problem. I have changed the tag of the current commit to **v2.0.0-alpha.2**.  It should work now :=)

[2022-07-30 10:00] axllent commented on #90
Awesome, my mod updated now to the v2.0.0-alpha.2 tag successfully - which also fixes the issue, thanks @ostafen !

[2022-07-30 10:00] #90 closed, assigned to nobody

[2022-07-30 10:57] ostafen commented on #73
@axllent, I'm closing this, since the issue is pretty much solved

[2022-07-30 10:57] #73 closed

[2022-08-02 10:21] ostafen opened #92 "Add support for geospatial queries/indexing"
It would be nice to provide **Near()/NearSphere()**-like criteria for geo-spatial queries.
Moreover, it should be possible to create a geospatial-index on a specific location field

[2022-08-08 11:06] axllent opened #94 "V2: RunValueLogGC(): Value log GC attempt didn't result in any cleanup"
Hi @ostafen  - I'm noticing every 5 minutes a `RunValueLogGC(): Value log GC attempt didn't result in any cleanup` in the logs  - I know where it comes from in the code but ... I'm suspecting that the GC maybe not working as expected. To test I inserted 7.2GB of data yesterday (300k documents), and then deleted all the documents (so it's "empty" now). I's been > 24 hours now and I still have 7.2GB

[2022-08-08 11:32] ostafen commented on #94
Hi, @axllent, thank you for reporting this. Regarding the first point, I'll do some experiment and try to figure out what the problem is and let you know. Meanwhile, have you checked if compaction is performed when the db is closed?

Regarding the logging problem, I was planning to use introduce a logging library (such as zap or logrus) and allow to set the logging level externally. Since you need

[2022-08-08 11:41] axllent commented on #94
Hey @ostafen - you're a star, thank you! Please don't stress about the error message output, I don't *need* that soon, I just though I would mention it because I was talking about the GC stuff anyway :) As for the GC not reducing space however, that would be greatly appreciated. I don't know if it is useful, but I am [using indexes](https://github.com/axllent/mailpit/blob/develop/storage/database.

[2022-08-08 11:52] ostafen commented on #94
@axllent: I think I figured out the problem: it seems that badger computes stats on the files only when the db is closed.
So, as soon the server is running, even if the GC is called, he will reclaim no space, since stats are not updated.
Try to shutdown your server and restart it to see if space is reclaimed

[2022-08-08 12:00] axllent commented on #94
@ostafen I've tried that many times over the last week, and even with this particular database today but it doesn't help unfortunately. 5 minutes after restarting I just get those gc "error" messages

[2022-08-08 12:07] ostafen commented on #94
[code]
Try to run this script several times. During the process, in another terminal, run the following command to monitor the size of the db:
[code]

What I see is that, at each `Open()`, db reaches a near-zero size

[2022-08-08 12:21] axllent commented on #94
But here you are dropping the collection, not just deleting the documents from it. Sorry, I'm in bed now, so I'll have to test tomorrow (it's after midnight :))

[2022-08-08 12:23] ostafen commented on #94
It is the same from the point of view badger, we are simply deleting records (DropCollection additionally removes collection metadata)

[2022-08-08 12:25] axllent commented on #94
I'll experiment some more tomorrow then, thanks 👍

[2022-08-08 22:28] axllent commented on #94
@ostafen I am beginning to suspect that it may have something to do with the 0.5 `GCDiscardRatio` ratio clover uses (in a few GH issues on badger users were told to try values as low as 0.01).  Internally I don't know exactly how badger works, and what (exactly) that ratio impacts in terms of its GC logic, but I suspect it may be the key here.  I don't think there is any way for an app to override

[2022-08-09 08:56] ostafen commented on #94
Discard Ratio refers to the amount of space in percentage that could be reclaimed for a log file in order to be selected during GC.  0.5 is the value recommended by badger documentation by default. Try to hardcode this value inside **Clover** in the option file to see if setting it to a lower value can solve your problem (I will export a function to allow to set it as an option).
I have found howe

[2022-08-09 10:01] axllent commented on #94
You are right - setting it to `0.01` did not actually change anything in my test - it still remains at > 1GB, even when I close and reopen the empty DB. It sounds like this is completely out of your control, so not much (if anything) you can do here. As you say - eventually it should reclaim space - it's not very efficient at doing so :)

I think that I'll maybe implement zstd compression for the

[2022-08-09 10:58] axllent commented on #94
The irony of it all is I just checked the database directory of Mailpit which was still running from yesterday (which had several gigs of "empty" data), and it's now down to to almost nothing.... LOL. I'll make a metal note that pruning can take > 24 hours....

[2022-08-09 11:13] ostafen commented on #94
You could also try to reduce the frequency the garbage collector is called to see if space is reclaimed more often.
Anyway, the real problem is that badger doesn't give any warranty about this, so we should not make assumptions about disk size.

[2022-08-09 12:27] axllent commented on #94
Plus the fact that I think need to close and re-open my database after a `DeleteAll()`, something I would have preferred not to do. I do have some ideas though, but it involves locking all DB access when closing and reopening it, and each database function relying on a `sync.RWMutex{}` - I'm sure that will take a performance hit, but more testing (for me) to do!

[2022-08-09 13:56] ostafen commented on #94
I don't suggest you to go for this approach, since you introduce a dependency in your code related to an internal implementation detail of clover (the fact that it uses badger), a part from making the code more complicated. Moreover, even if you take this approach, disk size could remain high

[2022-08-09 16:35] #94 closed, assigned to nobody

[2022-08-10 16:20] werelord opened #95 "DropCollection doesn't delete the collection from disk"
using Clover v1.2.0

the `DropCollection()` method doesn't remove the data from the disk; recreating the collection after dropping the collection still has the documents previously stored in the collection.

Given the following code:

[code]

The output from the code:
[code]

I would guess that this is possibly an issue with the Badger storage engine?

[2022-08-10 16:27] ostafen commented on #95
@werelord, can you try using the **v2.0.0-alpha.2**? This issue should be solved starting from that version.

[2022-08-10 16:46] werelord commented on #95
@ostafen just tried it on v2 branch, and indeed it is fixed:

[code]

I'm curious, if I may ask, what the fix was?  In my limited digging thru Badger it appears they set a Delete flag, which is then cleaned up on GC..

Would this be ported back to v1.2, or is v2 alpha stable enough to use?? I'm using this mostly for a toy project, so stability isn't a huge issue for me..

[2022-08-10 16:59] ostafen commented on #95
That was an issue with **clover**, not with **badger**, which have been fixed in the **v2**. **v2** is currently in alpha state because I want to collect user feedback, before releasing a stable version, but you can go with it, since in the future it will be the reference version. It also contains a lot of optimizations, which are not available in the **v1.2.0**.

Yes, this is an implementation de

[2022-08-10 22:18] #95 closed, assigned to nobody

[2022-08-11 16:08] matwachich opened #96 "Feature: a cmdline tool to explore a cloverDB"
Hello, and thanks for this excellent lib!

The title says it all: is there a cmdline tool to explore a cloverDB? Query collections and documents, insert, delete, create indexes...

If not, is it planned?

Thanks :)

[2022-08-11 16:20] ostafen commented on #96
Hi, @matwachich, currently it is not in my plans. But if you would like building one, I would certainly collaborate to the project :=)

[2022-08-13 10:37] #96 closed, assigned to nobody

[2022-08-23 04:53] axllent opened #97 "v2: Constant CPU usage"
Hi @ostafen. As you would probably have seen (in Mailpit), a user reported a constant CPU usage, which I believe I have traced back to CloverDB v2 (both 1 & 2 alpha).

A simple test:
[code]
Run the program and check CPU usage with top/htop - the running binary will be using a constant 2-3% CPU. This does not happen with CloverDB v1.

Any ideas?

[2022-08-23 07:41] ostafen commented on #97
Hi, @axllent. I don't see any clear reason for this to happen inside clover's code, since `Open()` simply creates a badger db instance and starts a background goroutine for clean-up (which runs every 5 minutes).

[code]

[2022-08-23 10:30] axllent commented on #97
But you can confirm the constant CPU usage on your end though, even using that simple test? Maybe it's the badger version then? 2-3% CPU isn't the end of the world, however it should be 0 for most of the time (when obviously not reading/writing/purging).

[2022-08-23 10:38] ostafen commented on #97
Yes, I confirm that. However, the badger version is the same as **v1.2.0**

[2022-08-24 05:19] axllent commented on #97
@ostafen I can confirm that I get the same constant 2-3% CPU usage when running badger directly (default options + in memory). I had done a complete comparison, only to realize later that v1 of CloverDB doesn't use badger for the in-memory database at all whereas v2 does. I guess that explains why v1 (in memory) doesn't have that issue then :)

I'm suspecting there isn't much, if anything, you can

[2022-08-24 07:41] ostafen commented on #97
Unless this is due to something that can be configured when opening the badger database, there's nothing I can do

[2022-08-24 08:56] #97 closed, assigned to nobody

[2022-10-13 23:40] duckbrain opened #101 "[Feature Request] Utilize `encoding.BinaryMarshaller` and `encoding.BinaryUnmarshaller`"
If `encoding.TextMarshaller` is used for types found with `clover.NewDocumentOf` and `encoding.TextUnmarshaller` with `clover.Document.Unmarshal`, then standard library and custom types can be used for fields that aren't currently able to marshal/unmarshal correctly like a custom UUID type.

[2022-10-14 07:57] ostafen commented on #101
Hi, @duckbrain, thanks for the suggestion. However, using a textual encoding, such as `encoding.TextMarshaller`, would have a severe impact on query performance, considering that, at query time, much time is wasted in document deserialization.
This is why, I switched from `json` to `msgpack`, which is a binary encoding and is thus more performant.
Supporting custom types is definetely a good idea,

[2022-10-14 14:50] duckbrain commented on #101
In that case, `encoding.Binary*`?

[2022-10-16 10:34] ostafen commented on #101
`encoding/binary` only allows you to encode integer types. Anyway, the problem here is not about finding a better encoding for documents, since msgpack is already doing its job. Supporting custom types should not be tight to a particular encoding scheme, since it would be impossible to change it in the future. The way encoding libraries (among these, json and msgpack itself) allow the user to incl

[2022-10-16 14:47] duckbrain commented on #101
I was referring to the [`encoding.BinaryMarshaller` and `encoding.BinaryUnmarshaller`](https://pkg.go.dev/encoding#BinaryMarshaler) interfaces instead of the text-based interfaces in the same package.

They serve as a standard for encoding and decoding custom types into a binary format, not an encoding scheme, but instead can be used by encoding formats like gob.

Standard library types also [impl

[2022-10-17 12:10] ostafen commented on #101
Oh, sorry about that, we were basically saying the same thing. Would you like to work on this feature?

[2022-10-21 14:08] duckbrain commented on #101
After looking into it. msgpack is already using encoding.BinaryMarshaller and encoding.BinaryUnmarshaller, but `document.Document` is normalizing everything into `map[string]interface{}` and that's what is failing to handle the binary encoding.

It looks like `internal.Convert` is using `json` to copy values from one object to another. In general, an normal lookup into an object goes from binary e

[2022-10-22 12:28] ostafen commented on #101
I think it should be enough to leave values implementing the binary.BinaryMarshaller interface untouched when normilizing to map[string]interface{} in order to preserve custom types.

Yes, but this only holds if you want to convert a `Document` to a custom struct object, using `Unmarshal()` (I would like to optimize this in the future, by removing the json step, which is actually a way to simply c

[2022-10-22 23:41] duckbrain commented on #101
Right you are. For some reason, I was trying to Marshal them there, which was making it a lot harder than it needs to be. PR is up.

I see how that works and the need for the Document type for building the indexes and having a way to pass the values around, but don't personally see when I would get a document out of the database and not immediately convert it into a type-safe object.

The "simple"

[2022-10-23 10:56] ostafen commented on #101
Thank you for the PR, which I just merged in the **v2** branch.

On the idea of optimizing for what I see as the common case. I messed around with the idea deferring the unmarshalling until requested or needed to use Get and the like. That's is not completely functional, nor suggested, but you're welcome to peruse/use.

https://github.com/duckbrain/clover/tree/feature/delay-decoding

These are int

[2022-10-23 10:56] #101 closed, assigned to nobody

[2022-11-03 03:00] idcmp opened #104 "Example Request: Unmarshal/Update/Replace"
I can't seem to figure out how to do this. I have a struct whose fields are tagged for clover. I would like to read in a document, Unmarshal it to my struct, make changes to my struct, then update the existing document using my struct.

[code]

[2022-11-03 07:34] ostafen commented on #104
HI, @idcmp, why can't you use the `ReplaceById()` or the other methods?

If you have to modify an existing document, which you fetched through a query, then you have the document id, so you can use
`ReplaceById()`

[2022-11-03 07:52] idcmp commented on #104
I could, but `ReplaceById` checks that the `*Document` passed in has the same objectId has the 2nd arg. Since the `*Document` is created by `NewDocumentOf(example)`, that Document doesn't have a objectId, so the update fails.

[2022-11-03 07:54] ostafen commented on #104
You can simply set the document id on the new document so that it matches the one of the second argument, can't you?

[2022-11-03 16:00] idcmp commented on #104
I'll give that a try, I wasn't sure if that was the right way since the `objectId` constant is package private.

[2022-11-03 20:23] ostafen commented on #104
Yes, but it's Simply a constant for avoiding to directly use the "_id" literal.
You can change any field in the document, though

[2022-11-04 16:19] #104 closed, assigned to nobody

[2022-11-04 17:43] idcmp commented on #104
Confirmed this works. Thanks @ostafen !

[2022-11-18 08:53] cmbbr opened #105 "Cannot allocate initial memory"
Hello,

I'm starting a project where, after some research, I would like to embed clover db. I've started to tried it but I'm getting kernel panic due to memory allocation.

I was going through past issues and I read issue https://github.com/ostafen/clover/issues/35 , so I made sure I'm using db.Close(), actually my code is just your repply to that issue:

[code]
After which I get a kernel panic sa

[2022-11-18 08:59] ostafen commented on #105
Hi, @cmbbr, there problem here is that badgerDB is very memory demanding.

Give a look at this PR: https://github.com/ostafen/clover/pull/99
In that branch, I'm integrating support for supporting both **boltDB** and **badgerDB**. Maybe using **boltDB** for you could be better, since it's really less memory demanding.

Let me know if you are able to use that branch and if it works for you. I'll hav

[2022-11-18 11:04] DreamVersion opened #106 "GT LT operation very slow"
query like
`query :=clover.NewQuery("stat").
			Where(clover.Field("stat_time").GtEq("2022-11-14").
				And(clover.Field("stat_time").LtEq("2022-11-15")).
				And(clover.Field("ad_id").Eq("1749344214764583"))).
			Sort(clover.SortOption{Field: "stat_time", Direction: 1})
`
very fast.
but
`
query :=clover.NewQuery("stat").
			Where(clover.Field("ad_id").Eq("1749344214764583")).
				And(clover.Field

[2022-11-18 11:11] ostafen commented on #106
Can you tell me which version of the library you are using and the size of your collection?
If the collection is big, you should probably use indexes, which are available in the **v2** version
Anyway, using string dates is not a good idea for comparison

[2022-11-18 12:12] DreamVersion commented on #106
I'm using v2 version and collection about 140Mb. I try to use time.Time type, but get the same result. I see only support one index, then ad_id is the index.
The size of docs when ad_id="1749344214764583"  is about 10. Range query of this 10 docs expects to be very fast.

[2022-11-19 14:34] ostafen commented on #106
So do you have an index set on ad_id?